section{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 1rem auto 0 auto;
    text-align: center;
}
mat-form-field{
    width: 100%;
    margin-top: 1rem;
}
.buttonSave{
    background-color: #3f51b5;
    color: #FFF;
    margin: auto 1rem auto auto;
}
.buttonCancel{
    background-color: #ed2025;
    color: #FFF;
}